@import "./nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");

body {
   background-color: rgb(19, 19, 19);
}

.wrapper {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 50px;
   color: white;
   font-family: "Poppins", sans-serif;
}

.title {
   font-size: 5vw;
}

.counter {
   display: flex;
   font-size: 13vw;

   &__dots {
      color: rgb(72, 72, 72);
      line-height: 0.85em;
   }
}

.text-box {
   display: none;
   width: 100%;
   max-width: 55vw;

   &_2 {
      justify-content: end;
   }
}

.dop-text {
   display: none;
   font-size: 1.5vw;
   transform: rotate(25deg);

   &_2 {
      transform: rotate(-20deg);
   }
}

.streight-text {

   font-size: 2vw;
}

.form {
   position: relative;
   width: 100%;
   max-width: 50vw;
   margin: 0px auto;

   &__title{
      margin-bottom: 10px;
      font-size: 0.8vw;
      color: rgba(255, 255, 255, 0.5);
   }

   &::after {
      content: "отправлено";
      position: absolute;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      z-index: 2;
      color: aliceblue;
      width: 100%;
      height: 100%;
      background: #1a1a1af8 url("/assets/prelauder.gif") center / 90px no-repeat;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease;
   }

   &._sending::after {
      opacity: 1;
      visibility: visible;
   }

   &__item {
      display: flex;
      position: relative;
      width: 100%;
   }

   &__input-wrap {
      width: 100%;
      margin-right: 10px;
   }

   &__lable {
      position: absolute;
      top: 17px;
      left: 15px;
      z-index: 1;
      transition: all 0.3s ease;
      pointer-events: none;
      border-radius: 2px;
      color: rgb(255, 255, 255, 0.9);
   }

   &__input {
      width: 100%;
      padding: 12px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: rgb(255, 255, 255, 0.9);
      transition: all 0.3s ease;

      &:focus {
         border-color: rgba(255, 255, 255, 0.8);
         background-color: rgba(255, 255, 255, 0);

         & ~ .form__lable {
            top: -5px;
            font-size: 12px;
            background-color: rgb(19, 19, 19);
            padding: 0 5px;
            color: rgb(255, 255, 255, 0.8);
         }
      }

      &:not(:placeholder-shown) ~ .form__lable {
         top: -5px;
         font-size: 12px;
         background-color: rgb(19, 19, 19);
         padding: 0 5px;
         color: var(--yellow);
      }

      &:not(:placeholder-shown) {
         background-color: rgba(255, 255, 255, 0);
      }

      &._error {
         border-color: red;
      }
   }

   &__error-text {
      color: red;
      display: none;
      margin-top: 5px;
   }

   &__button {
      padding: 10px 20px;
      border-radius: 5px;
      color: rgb(255, 255, 255, 0.9);
      background-color: rgba(220, 220, 220, 0.2);
   }
}

@media screen and (max-width: 450px) {
   .wrapper {
      gap: 23px;
   }

   .title {
      font-size: 10vw;
   }

   .counter {
      font-size: 18.5vw;
      margin-bottom: 60px;
   }

   .dop-text {
      font-size: 6vw;
   }

   .text-box {
      width: 100%;
      max-width: 80vw;
   }

   .streight-text {
      margin-top: 40px;
      font-size: 6vw;
   }

   .form {
      position: relative;
      width: 100%;
      max-width: 95vw;
      margin: 0px auto;

      &__title{
         margin-bottom: 10px;
         font-size: 2.7vw;
      }

      &__input-wrap {
         margin-right: 0px;
      }

      &__item {
         display: flex;
         flex-wrap: wrap;
         gap: 10px;
      }

      &__lable{
         font-size: 3.5vw;
      }

      &__button {
         padding: 10px 20px;
         width: 100%;
      }
   }
}
